.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}


.video-container {
    width: 640px;
    height: 640px;
}

#webcam {
    position: absolute;
    top: 0;
    left: 0;
    height: 280px;
}

#webcam-button {
    position: relative;
    z-index: 1000;
}